<br/>

<div style="text-align:center">
  <button onclick="openTab('free')"><%= gettext "Custom search" %></button>
  <button onclick="openTab('keyword')"><%= gettext "Search by keyword" %></button>
  <button onclick="openTab('person')"><%= gettext "Search by person" %></button>
  <button onclick="openTab('share')"><%= gettext "Spread the word!" %></button>
</div>

<form phx-submit="search">
<section class="phx-hero">

<div id="free" class="espreittab">
  <%= gettext "Custom search, free from Twitter's algorithm filtering" %>
  <p style="font-size:small"><%= gettext "Results shown were published in the last 7 days." %><br/>
  <%= gettext "Retrieves at most 10 matches." %></p>

  <input type="text" name="q" placeholder={gettext "Search term"} list="results" autocomplete="off"/>
  <button onclick="setButtonState('free')" type="submit" phx-disable-with={gettext "Searching..."}><%= gettext "Search Galiverse" %></button>
</div>

<div id="keyword" class="espreittab" style="display:none">
  <%= gettext "Search by one of the top most frequent offensive terms found in our research." %>
  <p style="font-size:small"><%= gettext "Results shown were published in the last 7 days." %><br/>
  <%= gettext "Retrieves at most 10 matches." %></p>

  <select name="k" id="k">
    <%= for offense <- @offensives do %>
      <option value={offense}><%= offense %></option>
    <% end %>
  </select>
  <button onclick="setButtonState('keyword')" type="submit" phx-disable-with={gettext "Searching..."}><%= gettext "Search Galiverse" %></button>
</div>

<div id="person" class="espreittab" style="display:none">
  <%= gettext "Search the mentions of one of the persons of interest in our research." %>
  <p style="font-size:small"><%= gettext "Results shown were published in the last 7 days." %><br/>
  <%= gettext "Retrieves at most 10 matches." %></p>

  <select name="p" id="p">
    <%= for {personname, personhandler} <- @pois do %>
      <option value={personhandler}><%= personname %></option>
    <% end %>
  </select>
  <button onclick="setButtonState('person')" type="submit" phx-disable-with={gettext "Searching..."}><%= gettext "Search Galiverse" %></button>
</div>

<div id="share" class="espreittab" style="display:none">
  <%= gettext "Help us spread the word about our project!" %><br/>
  <%= gettext "If you liked the EspreiTTador, tell the world!" %><br/><br/>
  <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!%20Explore%20the%20Twitterverse%20from%20a%20feminist%20perspective!&url=http%3A%2F%2Fmicromachismos.gigalixirapp.com&hashtags=espreiTTador" target="_blank"><img src="images/share_to_twitter.png"/></a>
</div>

<br/>

<%= for {t, l} <- @results do %>
  <p class="alert result-info" ><a href={l} target="_blank"><%= inspect t %></a></p>
<% end %>
</section>

<input type="hidden" name="submittedButton" />

</form>

<script>
function setButtonState(btnName) {
  const trackingInput = document.querySelector('input[name="submittedButton"]');
  trackingInput.value = btnName;
}

function openTab(tabName) {
  var i;
  var x = document.getElementsByClassName("espreittab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>
